*{
    margin: 0;
    padding: 0;
}
.test{
    backface-visibility: none;
    height: 5px; 
}
body{
    background: #000000 !important;
    h1{
        background: blue !important;
        padding: 15px; 
        border: 1px solid;
        margin: 50px;
    }
}