*{
    margin: 0;
    padding: 0;
}

// mixin

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.logo{
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    h1{
        padding: 15px;
        color: #007ac3;
        font-weight: 900;
        &:hover{
            text-shadow: 1px 1px 1px #cccccc;
        }
        @include mobile {
            text-align: center !important;
            padding-bottom: 10px !important;
            margin: 0px;
        }
    }
}
.top-nav{
    height: 75px;
    ul{
        margin: 0;
        padding: 0;
        @include mobile {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
    li{
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
        @include mobile {
            text-align: center !important;
            float: none !important;
            display: inline;
        }
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 20px 10px;
        text-align: center;
        color: #666666;
        font-size:12px; 
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
            text-shadow: 1px 1px 1px #cccccc;
        }
        .fa{
            color: #007ac3;
            display: block;
            font-size: 24px;
        }
    }
}
.main-nav{
    background: #007ac3;
    @include mobile {
        padding: 10px;
    }
    @include tablet {
        padding: 10px;
    }
    .custom-nav{
        padding: 0px !important;
        background: #007ac3;
        .nav-link {
            padding: 26px 15px !important;
            color: #fff !important;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            &:hover{
                background: #004d77;
            }
            @include tablet {
                padding: 10px !important;
            }
            @include mobile {
                padding: 10px !important;
            }
            .fa{
                display: block;
                text-align: center;
                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: none;
                }
            }
        }
        .dropdown-toggle::after {
            display: none;
            @include mobile {
                display: inline-block;
            }
            @include tablet {
                display: inline-block;
            }
        }
    }
}
.slider{
    background: #333333;
    .carousel{
        .fa{
            font-size: 100px;
            visibility: hidden;
        }
        &:hover{
            .fa{
                visibility: visible;
            }
        }
    }
}
.main-body{
    background: #cccccc;
    padding: 50px 0;    
    @include mobile {
        padding: 5px 0 !important;
    }
    @include tablet {
        padding: 25px 0 !important;
    }
    .item-4{
        background: #fff;
        width: 100%;
        margin: 15px 0;
        box-shadow: 1px 1px 1px #999;
        img{
            width: 100%;
        }
    }
    .item-2{
        background: #fff;
        width: 100%;
        margin: 15px 0;
        box-shadow: 1px 1px 1px #999;
        img{
            width: 100%;
        }
    }
}
.brand-slider{
    height: 200px;
    background: #999999;
}
footer{
    height: 300px;
    background: #cccccc;
    
}